{% extends "@layout/rbac.twig" %}

{% block content %}

    <form action="" class="save" method="POST">
        {% include "/Assigments/Form.twig" %}        
    </form>

    <div class="form-group" style="margin-top:1em;">
        <button class="btn btn-light" onclick="javascript:window.history.back()">
            Назад
        </button>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var transfer = new Transfer('#select_no_used', '#select_used');
    </script>
{% endblock %}