<div class="form-group">
    <label>Имя пользователя</label>
    <input type="text" name="login" class="form-control" value="{{ model.login }}" disabled="">
</div>

{% if model.id %}

    <div class="row">
        <div class="col-lg-5">
            <select name="role_free[]" id="select_no_used" class="form-control" style="min-height:400px" multiple="">
                <optgroup label="roles">
                    {% if roles.reserv %}
                        {% for item in roles.reserv %}
                            <option value="roles_{{ item.ID }}">{{ item.Title }}</option>
                        {% endfor %}
                    {% endif %}
                </optgroup>
            </select>
        </div>

        <div class="col-md-2" style="text-align:center;">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" id="btn_slideAdd" onclick="transfer.move('/rbac/assigments/assign/' +  {{ model.id}} );">
                        >>
                    </button>
                </div>
                <div class="col-lg-12" style="margin-top:1em;">
                    <button type="button" class="btn btn-danger" id="btn_slideRemove" onclick="transfer.remove('/rbac/assigments/unassign/' + {{ model.id }});">
                        <<
                    </button>
                </div>
            </div>    
        </div>

        <div class="col-lg-5">
            <select name="perm_include" id="select_used" class="form-control" style="min-height:400px;" multiple="">
                <optgroup label="roles" id="roles">
                    {% if roles.used %}
                        {% for item in roles.used %}
                            <option value="roles_{{ item.ID }}">{{ item.Title }}</option>
                        {% endfor %}                            
                    {% endif %}
                </optgroup>
            </select>  
        </div>
    </div>
{% endif %}