{% extends "@layout/rbac.twig" %}

{% block content %}
    
    <header class="mb-4">
        <h1>Список пользователей</h1>
    </header>
    
    {% if users %}

        <div class="panel panel-info">
            <table id="assigments_list" class="table table-hover table-borderless table-md">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Пользователь</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="align-middle" style="width:10px;">
                                {{user.id}}
                            </td>
                            <td class="align-left">
                                {{user.login}}
                            </td>
                            <td style="text-align: right">
                                {% if editAccess == true %}
                                    <a href='{{ url.to("/rbac/assigments/edit/" ~ user.id) }}'>
                                        <i class="fas fa-eye"></i>
                                    </a>
                                {% endif %}    
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    {% endif %}

{% endblock %}