{% extends "@layout/main.twig" %}

{% block content %}

    {% if user.isAuth == false %}
        
        <header>
            <h1>Войти в систему</h1>
        </header>

        <form action="{{ url.to('/auth/login') }}" method="POST">
            
            <input type="hidden" name="csrf_token" value="{{ csrf }}" />
            
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" name="login" id="login" class="form-control" value="{{ model.login }}" />
            </div>
            
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" name="password" id="password" class="form-control" />
            </div>
            
            <div class="form-group">
                <a href="{{ url.to('/forgotpassword') }}">Я забыл пароль</a>
            </div>
                        
            <div class="form-group">
                <input type="checkbox" name="remember_me" id="remember" />
                <label for="remember">Запомнить меня</label>
            </div>
            
            <button type="submit" class="btn btn-primary">
                Авторизоваться
            </button>
            
        </form>

    {% endif %}
    
    
{% endblock %}

