{% extends "@layout/rbac.twig" %}

{% block content %}
    
    <header class="mb-3">
        <h1>Редактировать {{ model.Title }}</h1>
    </header>
    
    <form action="{{ url.to('/rbac/permissions/save/' ~ model.id) }}" class="form-permission" method="POST" onsubmit='return false;'>
        
        {% include "/Permissions/Form.twig" %}
        
        <div class="form-group" style="margin-top:1em;">
            <button class="btn btn-light" onclick="javascript:window.history.back()">
                Назад
            </button>

            <button class="btn btn-primary">
                {% if model.ID %}Сохранить{% else %}Создать{% endif %}
            </button>
        </div>
        
    </form>
     
        
        
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/bundles/rbac/js/permissions.js"></script>
{% endblock %}

