<div class="form-group">
    <label>Название</label>
    <input type="text" name="Title" class="form-control" value="{{ model.Title }}">
</div>

<div class="form-group">
    <label>Описание</label>
    <textarea name="Description" class="form-control">{{ model.Description }}</textarea>
</div>

{% if model.ID %}

    <input type="hidden" name="ID" id="id_permission" value="{{ model.ID }}" />

    <div class="form-group">
        <label>Создать дочерние разрешения (используйте / как разделитель)</label>
        <div class="form-group input-group">
            <input type="text" name="perm_children" id="perm_children" class="form-control" value="" />
            <span class="input-group-btn">
                <button class="btn btn-primary addpath" type="button">
                    <i class="fa fa-check"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>Дочерние разрешения (список)</label>

        <table class="table permissions_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% if children|length > 0 %}
                    {% for item in children %}
                        <tr id="{{ item.ID }}">
                            <td>{{ item.ID }}</td>
                            <td>{{ item.Title }}</td>
                            <td>{{ item.Description }}</td>
                            <td class="text-right">

                                {% if access_edit == true %}
                                    <a href="{{ url.to("/rbac/permissions/edit/" ~ item.ID) }}"><i class="fas fa-edit"></i></a>
                                {% endif %}

                                {% if access_delete == true %}
                                    <a href="javascript:void(0);" 
                                       class="delete" 
                                       data-url="{{ url.to('/rbac/permissions/delete/' ~ item.ID) }}" 
                                       data-question="{{ i18n.t('role.delete','Удалить :permission ?', {':permission': item.Title}) }}"
                                       ><i class="fas fa-trash "></i></a>
                                {% endif %}    
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}    
            </tbody>
        </table>
    </div>        


    {% if used_roles|length > 0 %}        
        <div class="form-group">
            <label>{{ i18n.t('permissions.roles_used', 'Ролями используются') }}</label>
            <table class="table roles_used">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Роль</th>
                        <th>Описание</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in used_roles %}
                        <tr id="{{ item.ID }}">
                            <td>{{ item.ID }}</td>
                            <td>{{ item.Title }}</td>
                            <td>{{ item.Description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}               
{% endif %}
