{% extends "@layout/rbac.twig" %}

{% block content %}

    {% if permissions|length > 0 %}
        <div class="col-lg-12">
            <div class="panel panel-info">
                <table id="permissions_list" class="table table-hover table-borderless table-md">
                    <thead class="table-dark">
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for children in permissions %}
                            <tr class="user_info_row" id="{{ children.ID }}">
                                <td style="padding-left:{% if permission.parent %}30px{% else %}10px{% endif %}">
                                    {{ children.Title }}
                                </td>
                                <td>{{ children.Description }}</td>
                                <td style="text-align:right">
                                    {% if access_edit == true %}
                                        <a href="{{ url.to("/rbac/permissions/edit/" ~ children.ID) }}"
                                           title="Изменить" 
                                        ><i class="fa fa-edit"></i></a>
                                    {% endif %}   
                                    {% if access_delete == true %}
                                        <a href="javascript:void(0);" 
                                           class="delete" 
                                           data-url="{{ url.to('/rbac/permissions/delete/' ~ children.ID) }}" 
                                           data-question="Удалить {{ children.Title }}"
                                        ><i class="fa fa-trash"></i></a>
                                    {% endif %}    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.panel -->
        {% else %}
            Разрешений не найдено, <a href="{{ url.to('/rbac/permissions/create') }}">создайте</a>
        {% endif %}

    {% endblock %}

{% block js %}
    <script type="text/javascript" src="/bundles/rbac/js/permissions.js"></script>
{% endblock %}