{% extends "@layout/main.twig" %}

{% block content %}

    {% if user.isAuth == false %}
        
        <header>
            <h1>Восстановление пароля</h1>
        </header>

        <form action="{{ url.to('/forgotpassword/request') }}" method="POST">
            
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" name="login" id="login" class="form-control" value="{{ model.login }}" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Восстановить</button>
            </div>
            
        </form>

    {% endif %}
    
    
{% endblock %}

