{% extends "@layout/main.twig" %}

{% block content %}
       
    <div class="starter-template">
        
        <header>
            <h1>Привет мир</h1>
        </header>
        
        <section class="mt-4">
            <form action="/" method="POST">
                <input type="hidden" name="param1" value="POST param" />
                <button>send</button>
            </form>
        </section>

    </div>
    
{% endblock %}

{% block js %}

   
{% endblock %}