{% extends "@layout/main.twig" %}

{% block content %}
    
    {% if user.isAuth == false %}
        
        <header>
            <h1>Присоеденяйтесь к нам</h1>
        </header>
        
        <form action="{{ url.to('/signup/reg') }}" method="POST">
            
            <div class="form-group">
                <label for="login">Имя пользователя</label>
                <input type="text" name="login" id="login" class="form-control" value="{{ model.login }}" />
            </div>
            
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" class="form-control" value="{{ model.email }}" />
            </div>
            
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" class="form-control" name="password" />
            </div>
            
            <div class="form-group">
                <label for="password_repeat">Повторите пароль</label>
                <input type="password" id="password_repeat" class="form-control" name="password_repeat" />
            </div>
            
            <button type="submit" class="btn btn-primary">
                Отправить
            </button>
            
        </form>

    {% endif %}
    
    
    
{% endblock %}


