{extends file="../Layouts/main.twig"}

{block "content"}
    
    <header>
        <h1>Подтверждение учётной записи</h1>
    </header>
    
    <form action="{url::to('/signup/verify')}" method="POST">
        
        <div class="form-group">
            <input type="text" name="verify_code" class="form-control" value="" placeholder="Секретный ключ">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
        
    </form>

{/block}
