<div class="form-group">
    <label>Название</label>
    <input type="text" name="Title" class="form-control" value="{{ model.Title }}">
</div>

<div class="form-group">
    <label>Описание</label>
    <textarea name="Description" class="form-control">{{ model.Description }}</textarea>
</div>

{% if model.ID %}

    <input type="hidden" name="ID" id="id" value="{{ model.ID }}" />

    <div class="row">

        <div class="col-md-5">
            <select name="perm_free[]" id="select_no_used" class="form-control" style="min-height:400px" multiple="">
                <optgroup label="permissions">
                    {% for rezerv in permissions.reservs %}
                        <option value="permissions_{{ rezerv }}">
                            {{ rezerv }}
                        </option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>

        <div class="col-lg-2" style="text-align:center">

            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" id="btn_slideAdd" onclick="transfer.move('/rbac/roles/assign/{{ model.ID }}')">
                    >>
                </button>
            </div>
            <div class="col-lg-12" style="margin-top:1em;">
                <button type="button" class="btn btn-danger" id="btn_slideRemove" onclick="transfer.remove('/rbac/roles/unassign/{{ model.ID }}')">
                    <<
                </button>
            </div>

        </div>

        <div class="col-md-5">
            <select name="perm_used" id="select_used" class="form-control" style="min-height:400px;" multiple="">
                <optgroup label="permissions">
                    {% for item in permissions.used %}
                        <option value="permissions_{{ item }}">
                            {{ item }}
                        </option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
    </div>
{% endif %}
