{% extends "@layout/rbac.twig" %}

{% block content %}

    <div class="panel panel-default">

        <table id="role_list" class="table table-hover table-borderless table-md">
            <thead class="table-dark">
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.Title }}</td>
                        <td>{{ role.Description }}</td>
                        <td style="text-align:right">
                            {% if access_edit %}
                                <a href="{{ url.to("/rbac/roles/edit/" ~ role.ID) }}" 
                                   title="Изменить" 
                                   ><i class="fa fa-edit "></i></a>
                            {% endif %}
                            {% if access_delete %}
                                <a href="javascript:void(0);" 
                                   class="delete" 
                                   data-url="{{ url.to("/rbac/roles/delete/" ~ role.ID) }}" 
                                   data-question="Удалить {{ role.Title }} ?"
                                   ><i class="fa fa-trash "></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.panel -->

{% endblock %}

{% block js %}

    <script type="text/javascript" src="/bundles/rbac/js/roles.js"></script>

    <script type="text/javascript">

        let data = Array();

        $('#role_list').dataTable({
            data: data
        });
    </script>
{% endblock %}
