<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <a class="navbar-brand" href="{{ url.to('/') }}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto">
            {% if auth.check() == false %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url.to('/signup') }}">Регистрация</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url.to('/auth') }}">Войти</a>
                </li>  
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url.to('/auth/logout') }}">Выйти</a>
                </li>   
            {% endif %}
        </ul>
        
    </div>
        
</nav>

