<!doctype html>

<html>
    
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <meta name="description" value="{{ description }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/vendor/bootstrap4/css/bootstrap.min.css" />
    </head>
    
    <body>
        
        <div class="header">
            {% include "@layout/header.twig" %}
        </div>
        
        <div class="container">
            
            <div class="content">
                {% include "@layout/alert.twig" %}
                {% include "@layout/validation.twig" %}
                {% block content %}{% endblock %}         
            </div>
            
        </div>
        
        <footer id="footer">
            {% include "@layout/footer.twig" %}
        </footer>    
        
        <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap4/js/bootstrap.min.js"></script>
        
        {% block js %}{% endblock %}
        {% block css %}{% endblock %}
        
        <style>
            .content {
                margin-top:5em;
            }
        </style>
    </body> 
    
</html>