{% if errors is empty == false %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                {% if error is iterable %}
                    {% for errormsg in error %}
                        <li>{{errormsg}}</li>
                    {% endfor %}
                {% else %}
                    <li>{{error}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}